*{
  margin: 0;
  padding: 0
}

#partnerlogos{
  width: 100%;
  background-color: white;
  min-height: 30vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.partnerlogoinner{
  width: 80%;
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-between;
  margin: auto;
  padding: 20px 0

}

.partnerlogoitem{
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(1);
}

.partnerlogoitem:hover{
  filter: grayscale(0);
}

.imgItem{
  width: 100%;
}